# Python junk
__pycache__/
*.pyc
*.pyo
*.log

# Environments
.env
.venv/

# IDEs
.idea/
.vscode/

# DB/Cache
*.sqlite3
*.db
dump.rdb
celerybeat-schedule
instance/

# Migrations
migrations/

# Logs
sync_cars.log

# OS junk
.DS_Store
Thumbs.db
