# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
.env
.venv/
env/
ENV/

# IDEs
.idea/
.vscode/

# DB/Cache
*.sqlite3
*.db
dump.rdb
celerybeat-schedule
instance/

# Migrations (if using Flask-Migrate)
migrations/

# Logs
sync_cars.log
logs/

# OS junk
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Git
.git/
